@import '../../assets/variables/variables.scss';

.navbar, .navbar-wrapper {
  padding: $distance-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  // background-color: $background-color;
}

.navbar {
  background-color: $section-background-color;

  &__social {
    &-icons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    &-icon {
      width: $distance-2;
      height: $distance-2;
      padding: $base-distance;
      box-sizing: content-box;
    }
  }

  &__hamburger-icon {
    padding: $base-distance;
  }

  &-wrapper {
    padding: 0;
  }

  &--open {
    font-size: 21px;
    padding: $distance-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    box-sizing: border-box;
    font-weight: 500;
    transition: transform 0.3s ease;
    background-color: $section-background-color;
  }

  &--closed {
    display: none;
  }

  &__element {
    padding: $base-distance;

  }
}
