// colors
$background-color: whitesmoke;
$main-font-color: #252525;
$accent-color: #0088E1;
$white-color: #FFF;
$error-color: #E81800;
$section-background-color: lightgray;
$section-background-color-2: rgba(0, 136, 225, 0.05);

// font-sizes
$p-size: 11px;
$h-7-size: 15px;
$h-6-size: 21px;
$h-5-size: 26px;
$h-4-size: 32px;
$h-3-size: 41px;
$h-2-size: 51px;
$h-1-size: 64px;

$aspect-ratio: 1.41;

// distances
$base-distance: 8px;
$distance-1: $base-distance * 2;
$distance-2: $base-distance * 3;
$distance-3: $base-distance * 4;
$distance-4: $base-distance * 5;
$distance-5: $base-distance * 6;
$distance-6: $base-distance * 7;
$distance-7: $base-distance * 8;
$distance-8: $base-distance * 9;
$distance-9: $base-distance * 10;
$distance-10: $base-distance * 11;
$distance-11: $base-distance * 12;
$distance-12: $base-distance * 13;

